## Encoding Notebook

We have the following dataset: 
1. Seasons, division, matchday that will order the matchs (in this order).
2. A team column, for the team that plays at home.
3. A against column.
4. Columns W,L and T, that indicate the cummulative results of the team in that matchday.
5. A result column for that match.
6. A GD (gol difference) column for that match.
7. A cummulative gol difference column.
8. A raking column for the ranking position at this matchday.
9. A column with the last 10 (if have it) results.
10. A column with the last 3 final rankings of last seasons.

Now we have to encode this variables to use them later in the selected models.

In [1]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
Encoded_data = pd.read_excel(r'..\reports\CleanedData.xlsx', index_col=0)

In [2]:
def results_encoded(col):
    sum_results = 0
    i = 0
    while(i < len(col)):
        if(col[i] == 'L'): sum_results -= 1
        elif (col[i] == 'W'): sum_results += 1
        i += 1
    return sum_results

In [77]:
def ranks_encoded(col):
    return len(col)

In [93]:
def ranks_encoded(col):
    if (len(col) < 3): # No rankings
        return 10000
    elif (len(col) < 5): # Just 1 ranking
        ranks = col.split("[")
        ranks = ranks[1].split("]")
        return int(ranks[0])
    elif (len(col) < ):
    else: return 0
    #ranks = col.str.split(" ", expand=True)
    #sep_ranks = ranks[8].str.split("]",expand=True)
    
    #ranks = ranks[1].astype(int) + ranks[3].astype(int) + ranks[4].astype(int) +  ranks[6].astype(int) + sep_ranks[0].astype(int)

In [94]:
Encoded_data["last_ranks_encoded"] = Encoded_data["last_ranks"].apply(ranks_encoded)

In [3]:
# Encoding the categorical columns
for col in ["team", "Away_team", "result"]:
    Encoded_data[col] = Encoded_data[col].astype("category")
    Encoded_data[f"{col}_encoded"] = Encoded_data[col].cat.codes
    Encoded_data = Encoded_data.drop(col, axis=1)
    
Encoded_data["last_results_encoded"] = Encoded_data['last_results'].apply(results_encoded)

1. For result: 1 = Lose, 2=Tie, 3=Win.
2. All teams are encoded
3. Last results encoded: +1 for win, -1 for lose, 0 for tie.

In [4]:
# Changing columns order
column_names = ['season','division','matchday','team_encoded','Away_team_encoded','W','L','T','result_encoded','GD','GD_cum','rank','last_results_encoded','last_ranks']
Encoded_data = Encoded_data.reindex(columns = column_names)

In [73]:
ranks = Encoded_data['last_ranks'].loc[(Encoded_data['team_encoded']==110) & (Encoded_data['season']==1950)]
ranks = ranks.str.split(" ", expand=True)
sep_ranks = ranks[8].str.split("]",expand=True)
#ranks = [int(x) for x in ranks.split()]
ranks = ranks[1].astype(int) + ranks[3].astype(int) + ranks[4].astype(int) +  ranks[6].astype(int) + sep_ranks[0].astype(int)
ranks

4013    31
4021    31
4028    31
4036    31
4044    31
4052    31
4061    31
4069    31
4077    31
4085    31
4093    31
4101    31
4108    31
4116    31
4124    31
4133    31
4141    31
4148    31
4156    31
4164    31
4172    31
4181    31
4189    31
4197    31
4205    31
4213    31
4221    31
4228    31
4236    31
4244    31
dtype: int32

In [96]:
Encoded_data.loc[(Encoded_data['season']==1955)]

,season,division,matchday,team_encoded,Away_team_encoded,W,L,T,result_encoded,GD,GD_cum,rank,last_results_encoded,last_ranks,last_ranks_encoded
5208,1955,1,1,1,60,0,1,0,1,-3,-3,14,-1,[ 9 9 10 10],0
5216,1955,1,2,1,114,0,1,1,2,0,-3,14,-1,[ 9 9 10 10],0
5224,1955,1,3,1,18,0,2,1,1,-7,-10,16,-2,[ 9 9 10 10],0
5232,1955,1,4,1,112,1,2,1,3,3,-7,11,-1,[ 9 9 10 10],0
5240,1955,1,5,1,65,1,3,1,1,-2,-9,14,-2,[ 9 9 10 10],0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5655,1955,2,26,134,28,8,10,8,1,-1,-11,12,-4,[],10000
5663,1955,2,27,134,57,9,10,8,3,2,-9,9,-2,[],10000
5671,1955,2,28,134,103,9,11,8,1,-2,-11,11,-3,[],10000
5679,1955,2,29,134,108,10,11,8,3,2,-9,9,-2,[],10000
5687,1955,2,30,134,118,10,12,8,1,-4,-13,11,-4,[],10000