## Encoding Notebook

We have the following dataset: 
1. Seasons, division, matchday that will order the matchs (in this order).
2. A team column, for the team that plays at home.
3. A against column.
4. Columns W,L and T, that indicate the cummulative results of the team in that matchday.
5. A result column for that match.
6. A GD (gol difference) column for that match.
7. A cummulative gol difference column.
8. A raking column for the ranking position at this matchday.
9. A column with the last 10 (if have it) results.
10. A column with the last 3 final rankings of last seasons.

Now we have to encode this variables to use them later in the selected models.

In [1]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
Encoded_data = pd.read_excel(r'..\reports\CleanedData.xlsx', index_col=0)

In [2]:
def results_encoded(col):
    sum_results = 0
    i = 0
    while(i < len(col)):
        if(col[i] == 'L'): sum_results -= 1
        elif (col[i] == 'W'): sum_results += 1
        i += 1
    return sum_results

In [3]:
# Encoding the categorical columns
for col in ["team", "Away_team", "result"]:
    Encoded_data[col] = Encoded_data[col].astype("category")
    Encoded_data[f"{col}_encoded"] = Encoded_data[col].cat.codes
    Encoded_data = Encoded_data.drop(col, axis=1)
    
Encoded_data["last_results_encoded"] = Encoded_data['last_results'].apply(results_encoded)

1. For result: 1 = Lose, 2=Tie, 3=Win.
2. All teams are encoded
3. Last results encoded: +1 for win, -1 for lose, 0 for tie.

In [4]:
# Changing columns order
column_names = ['season','division','matchday','team_encoded','Away_team_encoded','W','L','T','result_encoded','GD','GD_cum','rank','last_results_encoded','last_ranks']
Encoded_data = Encoded_data.reindex(columns = column_names)

In [5]:
Encoded_data.loc[(Encoded_data['season']==2000)]

,season,division,matchday,team_encoded,Away_team_encoded,W,L,T,result_encoded,GD,GD_cum,rank,last_results_encoded,last_ranks
30255,2000,1,1,1,139,1,0,0,3,3,3,2,1,[ 7 13 1 16 6]
30266,2000,1,2,1,148,1,1,0,1,-1,2,10,0,[ 7 13 1 16 6]
30275,2000,1,3,1,118,1,1,1,2,0,2,10,0,[ 7 13 1 16 6]
30286,2000,1,4,1,28,2,1,1,3,2,4,6,1,[ 7 13 1 16 6]
30295,2000,1,5,1,58,2,1,2,2,0,4,7,1,[ 7 13 1 16 6]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31052,2000,2,38,146,141,6,17,15,1,-4,-27,21,-1,[]
31064,2000,2,39,146,132,6,18,15,1,-2,-29,21,-2,[]
31074,2000,2,40,146,144,6,19,15,1,-2,-31,21,-4,[]
31086,2000,2,41,146,34,7,19,15,3,1,-30,20,-3,[]
31096,2000,2,42,146,2,8,19,15,3,1,-29,20,-1,[]